#kanban {
  height: 100%;
}

.kanban-task-filter-form {
  margin: 10px 1%;
}

.kanban-task-filter-form .form-item {
  display: inline-block;
}

.kanban-block {
  width: 18%;
  float: left;
  margin: 0 1%;
  padding-bottom: 20px;
  min-height: 100%;
  background: #eee;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.kanban-block.kanban-hover {
  background: #ccc;
}

.kanban-block h2 {
  padding: 0 10px;
  font-size: 30px;
}

.kanban-block ul {
  margin: 0;
  padding: 0 10px;
  min-height: 500px;
}

.kanban-task, .kanban-epic {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  cursor: crosshair;
  margin-bottom: 10px;
}

.kanban-task h3, .kanban-epic h3 {
  margin: 0;
  float: left;
  font-size: 18px;
  width: 85%;
}

.kanban-epic h3 a {
  color: white;
  text-decoration: none;
}

.kanban-task .kanban-edit, .kanban-epic .kanban-edit {
  width: 10%;
  float: right;
  margin-left: 5%;
  padding-top: 2px;
}

.kanban-task .kanban-priority {
  height: 20px;
  padding-bottom: 30px;
}

.kanban-task .kanban-priority .kanban-icon, .kanban-epic .kanban-priority .kanban-icon {
  height: 10px;
  width: 10px;
}

.kanban-task .kanban-priority .kanban-icon > svg, .kanban-epic .kanban-priority .kanban-icon > svg {
  height: 10px;
  width: 10px;
}

.kanban-task .kanban-info {
  padding-bottom: 20px;
}

.kanban-task .kanban-icon, .kanban-epic .kanban-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.kanban-task .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.kanban-task .kanban-icon > svg, .kanban-epic .kanban-icon > svg {
  width: 20px;
  height: 20px;
}

 .kanban-epic .kanban-icon > svg {
  fill: #fff;
 }

.kanban-task .kanban-user-profile {
  display: table;
}

.kanban-task .kanban-user-profile .kanban-avatar {
  width: 30px;
  display: table-cell;
  vertical-align: middle;
}

.kanban-task .kanban-user-profile .kanban-user {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.kanban-task .kanban-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.kanban-task a {
  text-decoration: none;
  color: #333;
}

.kanban-task a:hover {
  text-decoration: underline;
}

.kanban-task a.kanban-epic-link {
  color: #eee;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  float: right;
}

.kanban-task a.kanban-epic-link:hover {
  color: #fff;
  text-decoration: none;
}

.kanban-clearfix {
  clear: both;
}

.kanban-content {
  float: left;
  width: 68%;
  margin: 0 1%;
}

.kanban-sidebar {
  float: left;
  width: 28%;
  margin: 0 1%;
}

.kanban-form-divider {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

/* Comments */
.view-kanban-comments-list {
  padding: 10px;
}

.view-kanban-comments-list .item-list ul {
  margin: 0;
  padding: 0;
}

.view-kanban-comments-list .item-list ul li {
  list-style: none;
  padding: 10px 10px 10px 30px;
  margin: 0 0 35px 0;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.view-kanban-comments-list .item-list ul li .views-field-comment__value {
  padding: 30px 10px;
}

.view-kanban-comments-list .item-list ul li .mention {
  background-color: #004499;
  padding: 1px 8px;
  border-radius: 5%;
  color: white;
}

.view-kanban-comments-list .item-list ul li ul {
  margin: 10px 0 10px 10px;
  padding-left: 10px;
}

.view-kanban-comments-list .item-list ul li ul li {
  list-style: disc;
  padding: 0px;
  margin: 0;
  background: transparent;
  box-shadow: none;
}

.view-kanban-comments-list .views-field-uid,
.view-kanban-comments-list .views-field-created {
  display: inline;
  margin-right: 10px;
}

.view-kanban-comments-list .views-field-created {
  color: #666;
  font-size: 10px;
}

.view-kanban-comments-list .views-field-edit-kanban-comment, .view-kanban-comments-list .views-field-delete-kanban-comment {
  display: inline;
  margin-right: 10px;
  font-size: 12px;
}

.view-kanban-comments-list a {
  text-decoration: none;
}

.kanban-comment-add-form .filter-help {
  display: none;
}
