
<div id="kanban-board">
  {% if filter_form %}
  {{ filter_form }}
  {% endif %}


  <div id="board">
    <div id="blocked-wrapper" class="kanban-block">
      <h2>{{ 'Blocked'|t }}</h2>
      <ul id="blocked" class="kanban-sortable" data-status="blocked">
        {% for task in blocked %}
          {{ task }}
        {% endfor %}
      </ul>
    </div>

    <div id="todo-wrapper" class="kanban-block">
    <h2>{{ 'Ready To Do'|t }}</h2>
      <ul id="todo" class="kanban-sortable" data-status="todo">
        {% for task in todo %}
          {{ task }}
        {% endfor %}
      </ul>
    </div>

    <div id="in-progress-wrapper" class="kanban-block">
      <h2>{{ 'In Progress'|t }}</h2>
      <ul id="in-progress" class="kanban-sortable" data-status="in-progress">
        {% for task in in_progress %}
          {{ task }}
        {% endfor %}
      </ul>
    </div>

    <div id="in-review-wrapper" class="kanban-block">
      <h2>{{ 'Review'|t }}</h2>
      <ul id="in-review" class="kanban-sortable" data-status="in-review">
        {% for task in in_review %}
          {{ task }}
        {% endfor %}
      </ul>
    </div>

    <div id="done-wrapper" class="kanban-block">
      <h2>{{ 'Done'|t }}</h2>
      <ul id="done" class="kanban-sortable" data-status="done">
        {% for task in done %}
          {{ task }}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
