{#
/**
 * @file
 * Default theme implementation to present a task entity.
 *
 * This template is used when viewing a canonical task page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kanban_task()
 */
#}
<article{{attributes}}>
	{% if view_mode != 'full' %}
		{{ title_prefix }}
		{{ title_suffix }}
	{% endif %}
	<div class="kanban-content">
		{{ content.description }}
		<hr>
		<div class="kanban-comments">
			<h4>{{ 'Comments'|t }}</h4>
			{{ add_comment }}
			<hr/>
			{{ comments }}
		</div>
	</div>
	<div class="kanban-sidebar">
		{{ content.status }}
		{{ content.assigned }}
		{{ content.attachements }}
		<h4>{{ 'Tasks'|t }}</h4>
		{% for task in tasks %}
			<a href="{{ task.url }}">{{ task.label.value }}</a>
			({{ task.status.value }})<br />

		{% endfor %}

	</div>
</article>

