<div class="kanban-epic" data-task-id="{{ id }}" style="background-color: {{ background_color }}">
	<h3>{{ title }}</h3>
	<div class="kanban-edit">
		<a href="{{ edit_url }}">
			<div class="kanban-icon">{{ source(edit_svg) }}</div>
		</a>
	</div>
	<div class="kanban-clearfix"></div>

</div>



