<div class="kanban-task" data-task-id="{{ id }}">
<h3>{{ title }}</h3>
<div class="kanban-edit">
  {% if edit_url %}
  <a href="{{ edit_url }}"><div class="kanban-icon">{{ source(edit_svg) }}</div></a>
  {% else %}
  <div class="kanban-icon disabled">{{ source(edit_svg) }}</div>
  {% endif %}
</div>
<div class="clearfix"></div>
<div class="kanban-priority">
{% if priority_number > 0 %}
  {% for i in 0..(priority_number - 1) %}
    <div class="kanban-icon">{{ source(edit_circle) }}</div>
  {% endfor %}
{% endif %}
</div>



<div class="kanban-info">
  {% if due_date %}
  <div class="kanban-icon">{{ source(clock_svg) }} </div> {{ due_date }}<br />
  {% endif %}
  <div class="kanban-icon">{{ source(comment_svg) }} </div> {{ comment_count }}<br />
</div>
{% if user_name %}
  <div class="kanban-assignee kanban-user-profile">
  {% if user_picture %}
    <div class="kanban-avatar">
      <a href="{{ user_url }}">{{ user_picture }}</a>
    </div>
  {% else %}
  <div class="kanban-avatar">
    <a href="{{ user_url }}">{{ source(user_svg) }}</a>
  </div>

  {% endif %}
<a class="kanban-user" href="{{ user_url }}">{{ user_name }}</a>
</div>
{% else %}
  <div class="kanban-assignee kanban-user-profile">
    <div class="kanban-avatar disabled">
      {{ source(user_svg) }}
    </div>
    <div class="kanban-user">{{ 'Not assigned'|t }}</div>
  </div>

{% endif %}

{{ epic }}
<div class="clearfix"></div>
</div>
