{#
/**
 * @file
 * Default theme implementation to present a task entity.
 *
 * This template is used when viewing a canonical task page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kanban_task()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  <div class="kanban-content">
    {{ content.description }}
    <hr>
    <div class="kanban-comments">
      {{ add_comment }}
      <hr />
      {{ comments }}
    </div>
  </div>
  <div class="kanban-sidebar">
    {{ content.assigned }}
    {{ content.reviewers }}
    {{ content.status }}
    {{ content.epic }}
    {{ content.priority }}
    {{ content.blockers }}
    {{ content.due_date.value }}
    {{ content.created}}
    {{ content.attachements }}

  </div>
</article>
